---
title: 'Blog'
layout: base
---

<div class="blog">
  <div class="page-content">
    <div class="posts">
      {% for post in site.posts limit:3 %}
      <div class="container post">
          <h1 class="underlined-title">{{ post.title }}</h1>
          <div class="content">
            {{ post.content }}
          </div>

          <div class="info">
            <p>{{ post.author }}, {{ post.date | date_to_long_string }}</p>
            <a href="{{ post.url }}" class="button">More</a>
          </div>
        </div>
      {% endfor %}

      <div class="centered-button">
        <a href="/blog/" class="button">More Posts</a>
      </div>
    </div>
    <div class="sidebar">
      <div class="container featured-post">
          <h1 class="label underlined-title">Featured Post</h1>

          {% for post in site.posts %}
            {% if post.path contains "featured" %}
              {% assign featured-post = post %}
            {% endif %}
          {% endfor %}

          <a href="{{ featured-post.url }}">
            <h1 class="title">{{ featured-post.title }}</h1>
            <p class="summary">{{ featured-post.summary }}</p>

            {% if featured-post.thumbnail != nil %}
              <img src="{{ featured-post.thumbnail }}">
            {% endif %}
          </a>

          <div class="centered-button">
            <a href="{{ featured-post.url }}" class="button">Read More</a>
          </div>
      </div>
      <div class="container sponsors">
        <h1 class="label underlined-title">Powered By</h1>

        {% for sponsor in site.data.sponsors %}
          {% if sponsor.is-main %}
            {% if sponsor.url != nil %}
              <a href="{{ sponsor.url }}"><img src="{{ sponsor.image }}" alt="{{ sponsor.name }}"></a>
            {% else %}
              <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
            {% endif %}
          {% endif %}
        {% endfor %}

        <div class="centered-button">
          <a href="/sponsors/" class="button home-sponsor-button">See all</a>
        </div>
      </div>
    </div>
  </div>
</div>
