---
title: 'Contact'
layout: base
css: '/style/contact.css'
js: 'https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js'
---

<div class="standard contact">
  <div class="page-content">
    <div class="main container">
      <h1 class="underlined-title">Contact</h1>

      <p>
        If you're interested in joining our team or have another question for
        us, please fill in this form and then we'll contact you! If you prefer to call or mail us, use the contact details on this page!
      </p>

      <div id="contact-mobile-details" class="container contact-details">
        {% include contact-details.html %}
      </div>

      <form>
        <input id="contact-name" type="text" placeholder="Name">
        <input id="contact-email" type="email" placeholder="E-Mail">
        <textarea id="contact-message"cols="30" rows="10" placeholder="Message"></textarea>
        <br>
        <div id="contact-bottom">
          <button id="contact-submit" type="button" class="button" onclick="send()">Send</button>
          <p id="contact-status"></p>
        </div>
      </form>

      <script src="/scripts/contact-form.js"></script>
    </div>

    <div class="sidebar">
      <div class="container contact-details">
        {% include contact-details.html %}
      </div>
      
      {% include sidebar/socials.html %}

      {% include sidebar/sponsors.html %}
    </div>
  </div>
</div>
