---
title: 'Home'
layout: base
---

<div class="home">
  <div class="page-content">
    <div class="posts">
      {% for post in site.posts limit:3 %}
      <div class="container post">
          <h1 class="underlined-title">{{ post.title }}</h1>
          <div class="content">
            {{ post.content }}
          </div>

          <div class="info">
            <p>{{ post.author }}, {{ post.date | date_to_long_string }}</p>
            <a href="{{ post.url }}" class="button">More</a>
          </div>
        </div>
      {% endfor %}

      <div class="home-more-posts">
        <a href="/posts/" class="button">More Posts</a>
      </div>
    </div>
    <div class="sidebar">
      <div class="container featured-post">
          <h1 class="flabel underlined-title">Featured Post</h1>

          {% for post in site.posts %}
          {% if post.path contains "featured" %}
          {% assign featured-post = post %}
          {% endif %}
          {% endfor %}

          <a href="{{ featured-post.url }}">
            <h1 class="featured-post-title">{{ featured-post.title }}</h1>
            <p class="featured-post-summary">{{ featured-post.summary }}</p>

            {% if featured-post.thumbnail != nil %}
              <img src="{{ featured-post.thumbnail }}">
            {% endif %}
          </a>
          <div class="button">
            <a href="{{ featured-post.url }}" class="button">Read More</a>
          </div>
      </div>
      <div class="container main-sponsors">

      </div>
    </div>
  </div>
</div>
