---
layout: base
title: 'Post Archive'
---

<div class="post-list">
  {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%b %Y'" %}

  {% for yearMonth in postsByYearMonth %}
  <h1 class="text-in-line posts-date-seperator"><span>{{ yearMonth.name }}</span></h1>
  <div class="sub-post-list">
      {% for post in yearMonth.items %}
          {% unless post.path contains "concept" %}
              <div class="container post-list-item">
                  <a href="{{ post.url }}">
                      <h1 class="underlined-title">{{ post.title }}</h1>
                      <div class="post-list-item-content">
                          <p>{{ post.summary }}</p>

                          <div class="thumbnail-holder">
                              {% if post.thumbnail != nil %}
                              <img src="{{ post.thumbnail }}">
                              {% endif %}
                          </div>
                      </div>
                  </a>
              </div>
          {% endunless %}
      {% endfor %}
  </div>
  {% endfor %}
</div>
