.content-404 {
    text-align: center;
    height: calc(100vh - 240px);

    padding-top: 20vh;
}

.content-404 > * {
    margin: 30px 0;
}

.content-404 h1 {
    font-size: 40pt;
}

.content-404 .button-holder {
    margin-top: 60px;
}

@media only screen and (max-width: 450px) {
    .content-404 h1 {
        font-size: 12vw;
    }

    .content-404 h2 {
        font-size: 6vw;
    }
}