.about .page-content {
  display: grid;
  grid-template-columns: auto 22vw;
  gap: 5%;
  margin-bottom: 40px;
}

.about .main {
  grid-column-start: 1;
}

.about .main > * {
  margin-bottom: 3vh;
}

.about .main > *:not(:first-child) {
  margin-left: 5%;
}

.about .main > *:last-child {
  margin-bottom: 0;
}

.about .sidebar {
  grid-column-start: 2;
}

.about .sidebar > * {
  margin-bottom: 5vh;
}

.about .sidebar > *:last-child {
  margin-bottom: 0;
}

.about .sidebar .label {
  margin-bottom: 15px;
}

.about .sidebar .featured-post .title {
  font-size: 20pt;
}

.about .sidebar .featured-post .summary {
  margin: 20px 0;
}

.about .sidebar img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
  .about .page-content {
    display: block;
  }

  .about .sidebar {
    display: none;
  }
}

.about p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
}
