.header {
    background-color: var(--main-light);
    height: 120px;
    box-shadow: 0 0 20px var(--main-shadow);
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.page-list {
    display: flex;
    margin: 0;
}

.page-list a:last-child {
    margin-right: 0;
}

.page-list a {
    font-size: 14pt;
    margin: auto 0;
    margin-right: 30px;
    text-transform: uppercase;
}

.header .title {
    font-size: 20pt;
    font-weight: bold;

    display: flex;
    margin: auto 0;
}

.header .title:hover {
    transform: initial;
}

.navbar-active {
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    .header {
        flex-direction: column;
    }
    .header .title {
        margin: auto auto;
    }
    .page-list {
        justify-content: center;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 450px) {
    .header .title {
        font-size: 7vw;
    }
    .page-list {
        margin: auto auto;
        flex-wrap: wrap;
    }
    .page-list a {
        margin: 5px 15px;
        font-size: 3vw;
    }
    .page-list a:last-child {
        margin: 5px 15px;
    }
}
