.header {
    background-color: var(--main-light);
    height: 120px;
    box-shadow: 0 0 20px var(--main-shadow);
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.page-list {
    display: flex;
    margin: 0;
}

.page-list div {
    margin-right: 0;
}

.page-list .normal-a {
    font-size: 14pt;
    margin: auto 0;
    margin-right: 30px;
    text-transform: uppercase;
}

.page-list .expandable-navbar{
    font-size: 14pt;
    margin: auto 0;
    margin-right: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.header .title {
    font-size: 20pt;
    font-weight: bold;

    display: flex;
    margin: auto 0;
}

.header .title:hover {
    transform: initial;
}

.navbar-active {
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    .header {
        flex-direction: column;
    }
    .header .title {
        margin: auto auto;
    }
    .page-list {
        justify-content: center;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 450px) {
    .header .title {
        font-size: 7vw;
    }
    .page-list {
        margin: auto auto;
        flex-wrap: wrap;
    }
    .page-list a {
        margin: 5px 15px;
        font-size: 3vw;
    }
    .page-list a:last-child {
        margin: 5px 15px;
    }
}

.dropbtn {
    padding: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-light);;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content .link1 {
    color: var(--main-accent);;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}


  






  .dropbtn-2 {
    padding: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown-2 {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content-2 {
    display: none;
    position: absolute;
    background-color: var(--main-light);;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content-2 .link2 {
    color: var(--main-accent);;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 1.5em;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown-2:hover .dropdown-content-2 {display: block;}