.home .page-content {
  display: grid;
  grid-template-columns: auto 22vw;
  gap: 5%;
}

.home .posts {
  grid-column-start: 1;
}

.home .posts > * {
  margin-bottom: 5vh;
}

.home .posts > *:last-child {
  margin-bottom: 0;
}

.home .sidebar {
  grid-column-start: 2;
}

.home .sidebar > * {
  margin-bottom: 5vh;
}

.home .sidebar > *:last-child {
  margin-bottom: 0;
}

.home-sidebar-element {
  margin-bottom: 5vw;
}

.home-sidebar-element:last-child {
  margin-bottom: 0;
}

.home-featured-post .featured-post-label {
  margin-bottom: 20px;
}

.home-featured-post .featured-post-title {
  font-size: 20pt;
}

.home-featured-post .featured-post-summary {
  margin: 20px 0;
}

.home-sidebar img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.home-sponsors img {
  border-radius: 0;
  margin-top: 10%;
}

@media only screen and (max-width: 750px) {
  .home .page-content {
    grid-template-columns: auto;
  }

  .home .sidebar {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .home .posts {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}
