.post-content h1 {
	border-bottom-style: solid;
	border-bottom-color: var(--main-accent);
	padding-bottom: 10px;
  font-size: 20pt;
  margin-bottom: 15px;
}

.post-content h2 {
  font-size: 20pt;
  margin-bottom: 5px;
}

.post-content p {
  font-size: 14pt;
  margin-bottom: 1em;
}

.post-content p:last-child {
  margin-bottom: 0;
}

.post-content img {
  width: 60%;
  border-radius: 20px;
}

@media only screen and (max-width: 800px) {
  .post-content img {
    width: 100%;
  }
}