.sponsor-thank-title {
    text-align: center;
    font-size: 28pt;
}

.sponsor-thank-text {
    margin: 5% 20%;
    font-size: 14pt;
}

.sponsor-containers .container {
    margin-bottom: 5%;
}

.sponsor-containers .container:last-child {
    margin-bottom: 0;
}

.sponsor-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.sponsor-grid > * {
    margin: auto 40px;
}

.sponsor-grid img {
    width: 15vw;
}

.sponsor-container-title {
    text-align: center;
}

@media only screen and (max-width: 850px) {
    .sponsor-thank-text {
        margin: 5% 0%;
    }
}

@media only screen and (max-width: 700px) {
    .sponsor-grid > * {
        margin: 5% auto;
    }

    .sponsor-grid {
        flex-direction: column;
    }

    .sponsor-grid img {
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .sponsor-thank-title {
        margin: 0 5%;
    }

    .sponsor-thank-text {
        margin-left: 5%;
        margin-right: 5%;
    }
}