.standard .page-content {
  display: grid;
  grid-template-columns: auto 22vw;
  gap: 5%;
  margin-bottom: 40px;
}

.standard .main {
  grid-column-start: 1;
}

.standard .main > * {
  margin-bottom: 3vh;
}

.standard .main > *:not(:first-child) {
  margin-left: 2vw;
  margin-right: 0vw;
}

.standard .main > *:last-child {
  margin-bottom: 0;
}

.standard .sidebar {
  grid-column-start: 2;
}

.standard .sidebar > * {
  margin-bottom: 5vh;
}

.standard .sidebar > *:last-child {
  margin-bottom: 0;
}

.standard .sidebar .label {
  margin-bottom: 15px;
}

.standard .sidebar .featured-post .title {
  font-size: 20pt;
}

.standard .sidebar .featured-post .summary {
  margin: 20px 0;
}

.standard .sidebar img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
  .standard .page-content {
    display: block;
  }

  .standard .sidebar {
    display: none;
  }
}

.standard p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
}
