<div class="header">
    <a class="title" href="/index.html">Impossible Robotics</a>

    <div class="page-list">
        <a href="/index.html" {% if page.path contains "index" %} class="navbar-active" {% endif %}>Home</a>
        <a href="/blog.html" {% if page.path contains "blog" %} class="navbar-active" {% endif %}>Blog</a>
        <a href="/about.html" {% if page.path contains "about" %} class="navbar-active" {% endif %}>About</a>
        <a href="/sponsors.html" {% if page.path contains "sponsors" %} class="navbar-active" {% endif %}>Sponsors</a>
        <a href="/contact.html" {% if page.path contains "contact" %} class="navbar-active" {% endif %}>Contact</a>

    </div>
</div>
