<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="google-site-verification" content="9AAE_6Q1dnYmeLad9TpBKEzR_vYaSvfs7EED9YdAZuA" />

	<link rel="shortcut icon" type="image/png" href="/res/logos/favicon.png">

	<link rel="stylesheet" type="text/css" href="/style/style.css">

	<title>{{ page.title }} | Impossible Robotics</title>
</head>

<body>
	{% include header.html %}
	{{ content }}
</body>

</html>