<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    {% if page.summary == "" or page.summary == nil %}
    <meta name="description" content="{{ site.description }}" />
    {% else %}
    <meta name="description" content="{{ page.summary }}" />
    {% endif %}

    <link rel="icon" href="/res/logos/favicon.png" sizes="32x32" />

    <link rel="shortcut icon" type="image/png" href="/res/favicon.png" />

    <link rel="stylesheet" type="text/css" href="/style/style.css" />
    <link rel="stylesheet" type="text/css" href="/style/header.css" />
    <link rel="stylesheet" type="text/css" href="/style/footer.css" />
    
    {% if page.css != "" and page.css != nil %}
    <link rel="stylesheet" href="{{ page.css }}" />
    {% endif %}

    {% if page.js != "" and page.js != nil %}
    <script type="text/javascript" src="{{ page.js }}"></script>
    {% endif %}

    {% if page.title == 'Contact' %}
    <script type="text/javascript">
      (function() {
        emailjs.init("user_58MjxmEWpeAHpEQT32B1o");
      })();
    </script>
    {% endif %}
    
    <link rel="stylesheet" type="text/css" href="/style/post.css" />
    <link rel="stylesheet" type="text/css" href="/style/standard.css" />

    <title>{{ page.title }} | Impossible Robotics</title>
  </head>

  <body>
    {% include header.html %} {{ content }} {% include footer.html %}
  </body>
</html>
